<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home page of Todos App </title>
        <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }}>
        <link rel="stylesheet" href="{{url_for('static', filename = '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>
                Counter
            </h1>
            <h2>
            {{ session['count']}} times
            </h2>
            <div class="parent">
                <a class="click" href="/counter">
                    Click
                </a>
                <a class="rest" href="/destroy_session">
                    Rest
                </a>
            </div>
        </div>
        <script src="{{url_for('static', filename = '/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js')}}"></script>
    </body>
</html>
